@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url('/public/shattered-island.gif'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  height: 100vh;
  width: 100vw; 
  overflow: hidden; 
}